* {
  margin: 0;
  padding: 0;
}
.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1588775566225-7a18c54c2f87?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-image: url("https://images.unsplash.com/photo-1588775566225-7a18c54c2f87?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat; */
}

.App-content {
  border: 2px solid black;
  border-radius: 5px;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
}

.App-content > p {
  color: black;
  font-size: 18px;
  letter-spacing: 1.2;
  line-height: 1.5;
  font-family: "Courier New", Courier, monospace;
}

.App-button {
  border: 1px solid red;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.App-button > p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.3;
  font-variant: small-caps;
}

.App-button:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}
